.accountForm {
  -webkit-box-shadow: 0px 0px 100px -20px rgba(25,29,50,0.75);
  -moz-box-shadow: 0px 0px 100px -20px rgba(25,29,50,0.75);
  box-shadow: 0px 0px 100px -20px rgba(25,29,50,0.75);
  border-radius: 15px;
  width: 450px;
  height: 550px;
  margin: 50px;
  background-color: rgba(250, 250, 255, 0.5);
}

.accountFormHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  margin-bottom: 10px;
  font-size: 2.5em;
  color: #FAFAFF;
  border-radius: 15px 15px 0 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9d37fc+8,6600c8+100 */
background: rgb(157,55,252); /* Old browsers */
background: -moz-linear-gradient(45deg, rgba(157,55,252,0.8) 8%, rgba(102,0,200,0.8) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, rgba(157,55,252,0.8) 8%,rgba(102,0,200,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, rgba(157,55,252,0.8) 8%,rgba(102,0,200,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d37fc', endColorstr='#6600c8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.accountFormBody {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  padding: 25px;
}

.accountForm p {
  color: #666;
  font-size: 0.9em;
}

.accountForm p:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #191D32;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-radius: 5px;
  -webkit-text-fill-color: #191D32;
  -webkit-box-shadow: 0 0 0px 1000px #3E9132 inset;
  transition: background-color 5000s ease-in-out 0s;
}


@media only screen and (max-width: 1200px) {
  .accountForm {
    width: 550px;
  }
}

@media only screen and (max-width: 750px) {
  .accountForm {
    width: 100vw;
    margin: 50px 0;
    border-radius: 0;
  }
  .accountFormHeader {
    border-radius: 0; 
  }
}
