.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 100vh;
  background-image: url('../../memphis-colorful.png');
  /* Background pattern from Toptal Subtle Patterns */
  background-attachment: fixed;
  overflow-x: hidden;
}

.routeHeader {
  font-size: 5em;
  color: #191D32;
  margin-top: 150px; 
}

.floatingButton {
  position: fixed;
  bottom: 0;
  right: 0;
}
