.jumbotron {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 1000px;
}

.welcomeText {
  text-align: left;
  font-size: 2em;
  color: #191D32;
  margin-left: 25px;
  text-shadow: 4px 5px 12px rgba(25,29,50,0.35);
}

.welcomeText span {
  color: #9D37FC;
  text-shadow: 4px 5px 12px rgba(157, 55, 252,0.35);
}

.welcomeText img {
  height: 250px;
  width: 250px;
  /* background-color: #9D37FC; */
  padding: 25px;
  border-radius: 50px;
  margin-top: 0;
  background: rgb(157,55,252); /* Old browsers */
  background: -moz-linear-gradient(45deg, rgba(157,55,252,1) 8%, rgba(102,0,200,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, rgba(157,55,252,1) 8%,rgba(102,0,200,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, rgba(157,55,252,1) 8%,rgba(102,0,200,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d37fc', endColorstr='#6600c8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#descriptionSectionOne {
  background-color: #9D37FC;
  -webkit-box-shadow: 0px 0px 75px 0px rgba(25,29,50,0.75);
  -moz-box-shadow: 0px 0px 75px 0px rgba(25,29,50,0.75);
  box-shadow: 0px 0px 75px 0px rgba(25,29,50,0.75);
}

#descriptionSectionOne .descriptionBody {
  text-align: left;
}

#descriptionSectionTwo {
  background-color: #191D32;
}

#descriptionSectionTwo .descriptionBody {
  text-align: right;
}

#descriptionSectionThree {
  background-color: #9D37FC;
}

#descriptionSectionThree .descriptionBody {
  text-align: left;
}

.descriptionBody {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.description div {
  margin: 25px;
}

.description section {
  height: 750px;
  color: #fafaff;
  padding: 25px;
  opacity: 0.95;
  font-size: 1.5em;
}

.description section h2 {
  font-size: 2.5em;
  margin: 10px 0;
}

.description section strong {
  font-size: 1.1em;
}

@media only screen and (max-width: 1200px) {
  .jumbotron {
    display: flex;
    flex-direction: column;
    height: 1500px;
  }
  .welcomeText {
    text-align: center;
    margin-left: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .descriptionGraphic img {
    height: 250px;
    width: 250px;
  }
}

@media only screen and (max-width: 750px) {
  .descriptionBody {
    flex-direction: column;
  }
  .description div {
    margin: 0; 
  }
  .description section {
    height: 900px;
    font-size: 1.25em;
  }
}
